@font-face {
  font-family: Cerebri Sans Book;
  src: url(./font/Cerebri_Sans_Book.ttf);
}

@font-face {
  font-family: Cerebri Sans SemiBold;
  src: url(./font/Cerebri_Sans_SemiBold.ttf);
}

h2 {
  font-family: Cerebri Sans SemiBold;
  line-height: 1.4!important;
}

h6 {
  font-size: 0.9rem!important;
  line-height: 2!important;
}

.App {
  background-image: url('./imgs/BACKGROUND.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height:100%;
  height:100vh;
  width:100%;
  position:absolute;
  font-family: Cerebri Sans Book;
}

.card {
  border-radius: 1.5rem!important;
  margin-left: 4rem;
  margin-right: 4rem;
  padding-left: 4rem!important;
  padding-top: 1.5rem!important;
  padding-right: 4rem!important;
  padding-bottom: 2.5rem!important;
}

.logo{
  width: 15rem;
  margin-bottom: 1rem;  
}

.woman-img {
  width: fit-content;
  width: 16rem;
  margin-left: 1rem;
}

.button{
  background-color: #2CA28D!important;
  width: 100%;
  border: none!important;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 0.8rem!important;
  font-size: 0.9rem!important;
  padding: 0.6rem 2.2rem!important;
}

.button-saber-mais{
  background-color: #FFFFFF!important;
  color: #1465BD!important;
  padding: 0.6rem 2.2rem!important;
  font-size: 0.9rem!important;
  font-weight: 600!important;
  border: none!important;
  margin-top: 1.5rem;
  border-radius: 0.8rem!important;
}

.blue-higlight {
  color: #0C65A3!important;
}